body{
	background-color: #ebeef4;
}
#khungChinh{
	border: 1px solid black;
	width: 600px;
	margin: auto;
}
#left{
	width: 30%;
	border: 1px solid black;
	float: left;
}
#right{
	width: 69%;
	border:1px solid black;
	float: right;
}
#boxTitle{
	border-bottom: 1px solid black;
}
#boxContent{

}
.userOnline{
	text-align: center;
}
#listMessage{
	height: 200px;
	background-color: white;
}
#sayHi{
	text-align: right;
}
#txtMessege{
	width: 350px;
	margin: 5px;
}
#loginForm{
	padding: 5px;
	text-align: center;
}