<!DOCTYPE html>
<html>
<head>
	<title>Demo chat real time</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
	<script src="jquery-3.4.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="xuly.js"></script>
</head>
<body>
	<div id="khungChinh">
		<div id="loginForm">
			<h3>Đăng kí tên bạn và bắt đầu</h3>
			<input type="text" id="txtUsername" name="">
			<input type="button" id="btnDangKi" value="Đăng kí">
		</div>
		
		<div id="chatForm">
			<div id="left">
				<div id="boxTitle">Ds thanh vien</div>
				<div id="boxContent">
				</div>
			</div>
			<div id="right">
				<div id="sayHi">
					Hello <span id="user">Teo</span>
					<input type="button" id="btnLogOut" value="LogOut" name="">
				</div>
				<div id="listMessage">
					<div id="thongBao">
						
					</div>
				</div>

				<input type="text" id="txtMessege" name="">
				<input type="button" id="btnSenMessage" value="send" name="">
			</div>
		</div>
	</div>
	
</body>
</html>