<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get post</title>
</head>
<body>
    <h3> Get post </h3>
    <p>Abc: <%= %></p>
</body>
</html>