<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC</title>
</head>
<body>
    Abc
    <p>Query get: <%= data.abc %></p>
    <form method="POST" action="">
        <input type="text" name="abc" placeholder="Nhap abc" />
        <input type="submit" name="submit" value="Gui" />
    </form>
</body>
</html>