<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    Hello <%= name %> welcome to index!
    <p>Tên: <%= information.name %></p>
    <p>Tuổi: <%= information.age %></p>
    <p>Email: <%= information.email %></p>
    <h2>Sở thích</h2>
    <ul>
        <% information.hobbies.forEach(function(Item){ %>
            <li><%= Item %></li>
        <% })%>
    </ul>
</body>
</html>